body{
	background-color: #F7FDFD;
	font-family: Arial;
}

#bloc_page{
	
	
}

										/*header*/
#fondbebe{
	width: 100%;
}

#msg-promo{
	text-align: center;
	background-color: #e7acfc;
	padding: 15px 15px;
	color: #FFFFFF;
}

#test{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#navi{
	flex: 2.5
}

#logo{
	flex: 1
}

										/*navigation*/

nav ul{
	list-style-type: none;
	display: flex;	
	margin-left: 70px;
}

nav li{
	margin-right: 30px;

}

nav a{
	font-size: 0.95em;
	color: black;
	text-decoration: none;

}

nav a:hover{
	
	border-bottom: 1px solid 
}

										/*section 1*/

#couverture{
	opacity: 0.9;


}
#section1{
	padding-left: 400px;
	
}

#bouton {
	display: inline-block;
	position: relative;
	top: 375px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #e7acfc;
	padding: 10px 18px;
}

#bouton:hover{
	background-color: rgb(219, 117, 255);
}
#espace-bouton{
	text-align: center;

}

										/*section2*/
#image-biberon{
	width: 30%;
	height: 30%;
	margin: 0px 0px 0px 0px;
}

#section2{
	display: flex;
	justify-content: center;
}
#text-biberon{
	order: 2;
	
}
#prix-biberon{
	display: flex;
}

#text-vert{
	color: #33AC22;
	font-weight: bold;
	font-size: 1.2em;
}

#text-barrer{
	text-decoration: line-through;
	font-weight: bold;
	font-size: 1.2em;
	margin-left: 1em;
}

#solde{
	color: #ffffff;
	background-color: #33AC22;
	padding: 1px 12px;
	border-radius: 2px 2px;
	margin-left: 1.5em;
	margin-top: 21px;
	font-size: 0.75em;
	height: 20%;
	font-weight: bold;
}

h2 {	
	margin: 50px 250px 20px 0px;
	font-size: 2.2em;	
}

h6 {
	font-size: 1em;
	margin: 0px;
}

#panier{
	text-decoration: none;
	display: inline-block;
	color: #FFFFFF;
	background-color: #33AC22;
	font-weight: bold;
	padding: 15px 200px;
	font-size: 1em;
	position: relative;
	left: 970px;
	bottom: 200px;

}
#panier:hover{
	background-color: rgb(24, 145, 7);
}
form{
	display: block;
	position: relative;
	left: 980px;
	bottom: 300px;

}

#quantite{
	display: block;
	border-color: rgb(244, 214, 255);
	width: 2%;
	font-size: 1em;
	padding: 12px;

}

#couleur{
	display: block;
	border-color: rgb(244, 214, 255);
	width: 10%;
	font-size: 1em;
	padding: 12px;
}

#caracteristique{
	display: inline-block;
	margin-right: 1500px;
	position: relative;
	left: 980px;
	bottom: 160px;
}

										/*footer*/
footer {
	background-color: #C2FAF3;
	height: 250px;
}

h3{
	font-size: 1.1em;
	display: flex;
	justify-content: center;
	padding-top: 45px;
}
footer nav {
	display: flex;
	justify-content: center;
	padding-right: 80px; 
}

										/*Bouton-test*/

#dropbtn {
  background-color: #F7FDFD;
  color: black;
  font-size: 16px;
  border: none;
  
}

#dropdown {
  position: relative;
  display: inline-block;
  position: relative;
  right: 15px;
}

#dropdown-vetements {
  display: none;
  position: absolute;
  background-color: #F7FDFD;
  min-width: 160px;
  z-index: 1;
}

#dropdown-vetements a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

#dropdown-vetements a:hover {
	background-color: #ddd;
}

#dropdown:hover #dropdown-vetements {
	display: block;
}

#dropdown:hover #dropbtn {
	border-bottom: 1px solid;
}
h5{
	font-size: 0.95em;
	display: inline-block;
	position: relative;
	left: 50px;
	margin-bottom: 10px;
}


@media all and (max-width: 1024px)
{
	#bloc_page{
		width: auto;
	}	
}